@import "./src/vars.scss";
@import "./src/mixins.scss";

$component: ".app-header-container";

#{$component} {
  position: relative;
  background: white;
  background-size: cover;
  z-index: 1;
  width: 100%;

  @include for-size(tablet-landscape-up) {
    height: 745px;
    margin-bottom: 35px;
  }

  &:before {
    z-index: 100;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5088410364145659) 0%,
      rgba(0, 0, 0, 0.3295693277310925) 20%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;

    @include for-size(tablet-landscape-up) {
      position: absolute;
    }
  }

  app-header-card {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: $max-window-width;
    margin: 0 auto 70px;
    display: block;

    @include for-size(tablet-landscape-up) {
    }
  }

  app-header {
    display: block;
    max-width: 1200px;
    margin: 0 auto 40px;

    @include for-size(tablet-landscape-up) {
      margin: 0 auto;
    }
  }
}
