$component: '.app-content';

#{$component} {
    max-width: 1025px;
    margin: 0 auto;
    padding-bottom: 40px;
    background-image: linear-gradient(to right, black 25%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
}

app-footer {
    max-width: 1025px;
    margin: 0 auto;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85em;
}