<div class="app-header-card">
  <div class="app-header-card__content">
    <div class="app-header-card__content__disclaimer">
        {{ config?.disclaimer }}
      </div>
      <div class="app-header-card__content__title">
        {{ config?.title }}
      </div>
      <p class="app-header-card__content__description">
        {{ config?.description }}
      </p>
      <a class="app-header-card__content__more">
        <i class="app-header-card__content__more__icon fab fa-wikipedia-w"></i>
        <span class="app-header-card__content__more__text">More information</span>
      </a>
      <div class="app-header-card__content__question">
        {{ config?.question }}
      </div>
  </div>
  <div class="app-header-card__thumbs">
    <div class="app-header-card__thumbs__icon app-header-card__thumbs__icon--bg-green material-icons"
         (click)="updateFeaturedPostRate('likes')">thumb_up</div>
    <div class="app-header-card__thumbs__icon app-header-card__thumbs__icon--bg-orange material-icons"
         (click)="updateFeaturedPostRate('dislikes')">thumb_down</div>
  </div>
</div>