<div class="app-header-card">
  <div class="app-header-card__content">
    <div class="app-header-card__content__disclaimer">
        What's your opinion on
      </div>
      <div class="app-header-card__content__title">
        Pope Francis?
      </div>
      <p class="app-header-card__content__description">
        He's talking tough on clery sexual abuse, but he just another papal pervert protector? (thumbs down) or true pedophile punishing pontiff? )(thumbs up)
      </p>
      <a class="app-header-card__content__more">
        More information
      </a>
      <div class="app-header-card__content__question">
        What's Your Veredict?
      </div>
  </div>
  <div class="app-header-card__thumbs">
    <div class="app-header-card__thumbs__icon app-header-card__thumbs__icon--bg-green material-icons">thumb_up</div>
    <div class="app-header-card__thumbs__icon app-header-card__thumbs__icon--bg-orange material-icons">thumb_down</div>
  </div>
</div>