@import "./src/vars.scss";

$component: ".app-header";

#{$component} {
  align-items: center;
  display: flex;
  height: 115px;
  text-align: center;
  margin: 0 auto;
  color: white;
  width: 100%;

  &__title {
    flex: 1;
    text-align: left;
  }

  &__menu {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    flex: 2;
    list-style: none;

    &__option {
      padding: 0.5em 1.6em;
    }
  }

  &__search-box {
    padding: 0.6em 1em 0em;

    &__icon {
      font-size: 40px;
    }
  }
}
