$component: '.app-days-countdown';
$min-width: 10%;
$min-width-days: 100% - $min-width;

#{$component} {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;

    &__days {
        background: rgba(255, 255, 255, 0.2);
        max-width: $min-width-days;
        width: $min-width-days;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 18px;
        font-size: 2.2em;

        &__day {
            margin-right: 10px;
        }
    }

    &__info {
        min-width: $min-width;
        width: 522px;
        justify-content: flex-end;
        align-items: center;
        display: flex;
        height: 100%;
        background: rgba(0, 0, 0, 0.15);
        font-size: .8em;
        color: white;
        padding-right: 13px;
    }
}