<div class="app-main-quote">
  <div class="app-main-quote__left-side">
    <span class="app-main-quote__left-side__top">Speak out. Be heard.</span>
    <span class="app-main-quote__left-side__bold">Be counted</span>
  </div>
  <div class="app-main-quote__description">
    Rule of thumb is a crowd sourced court of public opinion where anyone and everyone can speak out and speak freely. It's easy: You share your opion, we analize and put the data in a public report.
  </div>
  <div class="app-main-quote__close material-icons">
    close
  </div>
</div>