// dimensions
$max-window-width: 1200px;

// colors
$light-gray: #ededed;
$background-green: #1cbbb4;
$background-orange: #ffab1d;
$background-green-transparent: rgba(28, 189, 180, 0.9);
$background-orange-transparent: rgba(255, 173, 29, 0.9);
